button,
input[type="file"] {
  cursor: pointer !Important;
  color: #fff;
  border-radius: 0.2em;
}
button,
.return-btn {
  padding: 1em 2em;
  border: 0;
  background: $dark;
  transition: 0.25s background ease;
  &:hover {
    background-color: $darker;
  }
}
input[type="file"] {
  width: calc(70% + 12px);
  margin-left: 15%;
  &::-webkit-file-upload-button {
    background: $dark;
    width: 100%;
    border: 0;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 0.2em;
    color: #fff;
    transition: 0.25s background ease;
    &:hover {
      background: $darker;
    }
  }
  &::-ms-browse {
    color: #fff;
    background: $dark;
    border: 0;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 0.2em;
  }
  @media(min-width: 576px) {
    width: calc(50% + 12px);
    margin-left: 25%;
  }
}
.info-scene-btn {
  margin: 5px;
  width: calc(50% - 10px);
}
.return-btn {
  width: 100%;
}
.sidebar-button {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 10px 14px 0 rgba(79,90,166,.35);
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    background-color: $shadow;
  }
}
.download-btn {
  width: 70%;
  margin-left: 15%;
  height: 8vh;
  margin-top: 2vh;
  border: 0;
  border-radius: 5px;
  background-color: $dark;
  transition: all 0.5s ease;
  &:hover {
    background-color: $darker;
  }
  @media(min-width: 576px) {
    width: 10%;
    margin-left: 1%;
  }
}
#mobileMenu {
  position: absolute;
  left: 8%;
  line-height: 10vh;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  @media(min-width: 576px) {
    display: none;
  }
}
